In [9]:
import requests
import constants
import pandas as pd

Api key stored in constants variable.

In [ ]:
url = "https://api.openweathermap.org/data/2.5/weather"
api_key  = constants.owm
print(api_key)
params = {
    'q':'London,uk',
    'APPID':api_key,
    }

# 51.5072 N, 0.1276 W
# Fetches full weather report for the location
response = requests.get(url, params = params)

# Stores full weather report in a json
london_weather = response.json()

# Extracts just the few word simple verbal description.
london_weather_description = london_weather["weather"][0]["description"]
#print(london_weather_description)

b692773f1ddc1b647134f9c496e1dc86
overcast clouds

In [ ]:
requests.get(url, params=params)

Iteration through a list of cities to get simple weather descriptions for each place

In [30]:
cities = ["Riga, lv", "Paris, fr", "Moscow, ru", "Sydney, au", "New York, us", "Berlin, de"]

# The data will be stored in list once we extracted the fields of interest
cities_data = []

for c in cities:
    url = "https://api.openweathermap.org/data/2.5/weather"
    params = {
        'q':c,
        'APPID':api_key
        
    }
    
    response = requests.get(url, params=params) 
    
    weather = response.json()
    
    # Basic readings
    main_weather = weather['main']
    
    # Verbal description
    description_weather = weather['weather'][0]['description']
    
    temp_weather = main_weather
    temp_weather['description'] = description_weather
    temp_weather['location'] = c
    
    cities_data.append(temp_weather)
   
pd.DataFrame(cities_data)

,temp,feels_like,temp_min,temp_max,pressure,humidity,sea_level,grnd_level,description,location
0,295.19,294.73,295.19,295.19,1016,49,1016,1016,scattered clouds,"Riga, lv"
1,302.13,300.95,301.25,303.75,1017,29,1017,1007,clear sky,"Paris, fr"
2,294.46,294.24,293.44,294.47,1016,61,1016,997,scattered clouds,"Moscow, ru"
3,285.56,284.81,283.34,286.76,1031,75,1031,1025,broken clouds,"Sydney, au"
4,295.77,295.99,294.43,297.05,1028,73,1028,1027,mist,"New York, us"
5,298.65,298.46,297.56,299.88,1018,46,1018,1012,clear sky,"Berlin, de"